<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <img src ="{% static 'aboutME.jpg' %}" width="100%;">
        </div>
    </body>
{% endblock %}
</html>