<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <h1 class="display-4">왜 희번득인가?</h1>
    <p class="lead">올리브영, 랄라블라, 미샤, 토니모리, 에뛰드하우스 등 8가지 로드숍 이벤트를 총망라!</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">프로젝트 배경</h4>
            </div>
            <div class="card-body">
                <h1 class="my-0 font-weight-light" style="font-size: 16px;">화장품 사이트 돌아다니기 귀찮아서요..</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>세일 정보를</li>
                    <li>한 눈에 보고 싶었어요</li>
                    <li>특히 제가 좋아하는 것들을</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="#imageset">사이트 소개</a></button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">핵심 기능</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>SNS 회원가입 가능</li>
                    <li>개인 선호 반영</li>
                    <li>취향에 맞는 세일 알림</li>
                    <br>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="http://heeburndeuk.herokuapp.com">구경하기</a></button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">코드 설명</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                <li>프론트 엔드(웹)</li>
                <li>세일정보 크롤링</li>
                <li>DB연동</li>
                <li><br></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="https://github.com/Woo-Dong/webproject">깃헙 코드주소</a></button>
            </div>
        </div>
    </div>
    <a name="imageset"></a>
    <div class="imageset">
        <img src="https://postfiles.pstatic.net/MjAxOTA1MzBfMjU5/MDAxNTU5MjEyMDgyNjA4.TKiCIxjwrkdvOtQK2t94YYBwr64S9TDhzsdEf5QTIwgg.Wpnezp2T8Ayc_AXHk7iBypljaDvdf1tNZ6a2LwJt-Ewg.JPEG.ehdrn463/%ED%9D%AC%EB%B2%88%EB%93%9D1.JPG?type=w773">
        <div class="image-right" style='text-align: right;'><img src="https://postfiles.pstatic.net/MjAxOTA1MzBfMjYy/MDAxNTU5MjEyMDgyNTY5.rGyp2I3gac5Z1I4Sm6a4ixtI2BwzSmNnbESIMCni5aAg.__uSDd9vwLdQydTi0l1ZxQZPaTKVhsny8wWhScXvLDYg.JPEG.ehdrn463/%ED%9D%AC%EB%B2%88%EB%93%9D2.JPG?type=w773"></div>
        <img src="https://postfiles.pstatic.net/MjAxOTA1MzBfMTc1/MDAxNTU5MjEyMDgyNTU3.BQurJSrQ-zm9mdc5mBE7DO-N1JnHrJtKwy9dgVm4ej4g.DnADzjO0Rs-9yP8YK5qcyJurEByGn-AJgb2RmNRKT-Ig.JPEG.ehdrn463/%ED%9D%AC%EB%B2%88%EB%93%9D3.JPG?type=w773">
        <div class="image-right" style='text-align: right;'><img src="https://postfiles.pstatic.net/MjAxOTA1MzBfMjEw/MDAxNTU5MjEyMDgyNjQ4.9GmxcxCiC7iGTNTwNzIyw0fqy0MnmaQ9OBmVsfbHMMQg.qKo209fJHWZqlhxpTKuIzZfjpKDNWwnlBCb-etfkW7kg.JPEG.ehdrn463/%ED%9D%AC%EB%B2%88%EB%93%9D4.JPG?type=w773"></div>
    </div>
{% endblock %}
</html>